---
import LeftColumn from '../components/LeftColumn.astro';
import RightColumn from '../components/RightColumn.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Beau Jorgensen | Software Developer'>
  <div class='columns'>
    <div class='left'>
      <LeftColumn />
    </div>
    <div class='right'>
      <RightColumn />
    </div>
  </div>
</Layout>

<script>
  const sections = document.querySelectorAll<HTMLElement>('.section[id]');
  const rightColumn = document.querySelector<HTMLElement>('.right');

  if (rightColumn) rightColumn.addEventListener('scroll', navHighlighter);

  function navHighlighter() {
    let scrollY = window.scrollY;
    sections.forEach((current) => {
      const sectionHeight = current.offsetHeight;
      const sectionTop = current.getBoundingClientRect().top + window.pageYOffset - 100;
      const sectionId = current.getAttribute('id');
      const link = document.querySelector<HTMLAnchorElement>('a[href*=' + sectionId + ']');

      sectionId && scrollY > sectionTop && scrollY <= sectionTop + sectionHeight
        ? link?.classList.add('active')
        : link?.classList.remove('active')
    });
  }
</script>

<style>
  .columns {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
    flex: 1 0 0;
    overflow: scroll;

    .left {
      display: flex;
      width: 40%;
      max-width: 27rem;
      height: 100%;
      flex-direction: column;
      gap: 125px;
    }

    .right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 60px;
      flex: 1 0 0;
      overflow: scroll;
      scroll-behavior: smooth;
    }
  }
</style>
