---
import LeftColumn from "../components/LeftColumn.astro";
import RightColumn from "../components/RightColumn.astro";
import Layout from "../layouts/Layout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title="Beau Jorgensen | Software Developer">
  <div class="columns">
    <LeftColumn />
    <RightColumn />
  </div>
</Layout>

<script>
  const scrollContainer =
    document.querySelector<HTMLElement>(".scroll-container");
  const sections = document.querySelectorAll<HTMLElement>("section[id]");
  const rightColumn = document.querySelector<HTMLElement>(".right");
  if (rightColumn) rightColumn.addEventListener("scroll", navHighlighter);

  function navHighlighter() {
    const scrollY = window.scrollY;
    if (scrollY !== null) scrollContainer?.classList.add("scrolled");
    sections.forEach((current) => {
      const sectionHeight = current.offsetHeight + 60;
      const sectionTop = current.getBoundingClientRect().top + scrollY - 100;
      const sectionId = current.getAttribute("id");
      const link = document.querySelector<HTMLAnchorElement>(
        "a[href*=" + sectionId + "]",
      );

      sectionId && scrollY > sectionTop && scrollY <= sectionTop + sectionHeight
        ? link?.classList.add("active")
        : link?.classList.remove("active");
    });
  }
</script>

<style>
  .columns {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1em;
    flex: 1 0 0;
    flex-direction: column;
    overflow: scroll;

    @media (min-width: 51.875em) {
      gap: 3em;
      flex-direction: row;
    }
  }
</style>
