---
import Layout from '../layouts/Layout.astro';
import '@fontsource/trirong';
---

<Layout title="Beau Jorgensen | Software Developer">
	<div class="content">

	</div>
</Layout>

<style>
	.content {
		width: 100%;
		height: 100%;
	}
</style>