<div class='paragraph-stack about'>
  <p>
    It was the year 2001 when I got my first taste of web development. My older brother patiently taught me to create my
    very first index.html file which simply read, “Hello World!” and I was hooked.
  </p>
  <p>
    Over 20 years later I’ve now had the privilege of designing and coding websites for diverse clientele, writing
    software for <a href='https://www.coviu.com' target="_blank">
      Australia’s largest telehealth provider
    </a>, as well as an <a href='https://cadent.au/' target="_blank">
      ethical software consultancy
      </a>. My journey has been marked by a passion for innovation, problem-solving, and a desire to expand my skillset.
  </p>
  <p>
    When I’m not coding, you'll find me playing gigs with my band, working on one of many creative projects, or enjoying some yoga.
  </p>
</div>

<style>
  .about {
    display: none;

    @media (min-width: 830px) {
      display: block;
    }
  }
</style>