---
---
<div class='about paragraph-stack'>
  <p>
    It was the year 2001 when I got my first taste of web development. My older brother patiently taught be to create my
    very first index.html file which simply read, “Hello World!” and I was hooked. What began as a childhood hobby
    eventually became my profession, initially as a freelance web developer and later delving into professional roles as
    a software engineer.
  </p>
  <p>
    I’ve had the privilege of designing and coding websites for diverse clientele, writing software for Australia’s
    preeminent telehealth provider, as well as an ethical software consultancy. My journey has been marked by a passion
    for innovation, problem-solving, and.
  </p>
  <p>
    Currently, I'm collaborating with a friend on Bite Board, a meal planning app which blends SvelteKit, Express, and
    Supabase. When I’m not coding, you'll find me playing gigs with my band, working on one of many hands-on creative
    projects, or enjoying some yoga.
  </p>
</div>

<style>
  .about {
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
</style>
