---
const { content } = Astro.props;
---

<div class='chip'>
  {content}
</div>

<style>
  .chip {
    color: #fff;
    padding: 0.1875em 0.75em;
    width: fit-content;
    border-radius: 1em;
    background: var(--primary-black);
  }
</style>
