---
const { heading } = Astro.props;
const divId = heading.toLowerCase().split(' ').join('-');
---

<section id={divId}>
  <div class='section-heading'>
    <h2>
      {heading}
    </h2>
    <div class='divider'></div>
  </div>
  <slot />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  .section-heading {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0.625em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: fit-content;
    }

    .divider {
      height: 0.125em;
      margin: 0.125em 0 0 0.625em;
      flex-grow: 1;
      background-color: #212121;
    }
  }
</style>
