---
import '@fontsource-variable/work-sans';
import '../styles/global.css';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class='container'>
      <h1 class='border-overlap top'>Beau Jorgensen</h1>
      <div class='content-outline'>
        <slot />
      </div>
      <div class='border-overlap bottom'>
        <a href='https://github.com/beau-haldane' target='_blank' class='no-external-icon'
          ><img src='/img/svg-icons/github.svg' /></a
        >
        <a href='https://www.linkedin.com/in/beau-jorgensen/' target='_blank' class='no-external-icon'
          ><img src='/img/svg-icons/linkedIn.svg' /></a
        >
        <a href='https://www.youtube.com/@beau-haldane' target='_blank' class='no-external-icon'
          ><img src='/img/svg-icons/youtube.svg' /></a
        >
        <a href='/contact'><img src='/img/svg-icons/email.svg' /></a>
      </div>
    </div>
  </body>
</html>

<style>
  .container {
    width: 90%;
    max-width: 1212px;
    height: 100%;
    margin: 3.125rem 0;
    gap: 1.25rem;
    overflow: hidden;
  }

  .content-outline {
    height: 100%;
    width: 100%;
    border-top: solid 2px;
    border-bottom: solid 2px;

    @media (min-width: 640px) {
      padding: 1.25rem 1.875rem;
      border: solid 2px;
    }
  }

  .border-overlap {
    position: absolute;
    background-color: #fff;
    padding: 0 0.625rem 0 0;
    @media (min-width: 640px) {
      padding: 0 0.625rem;
    }
  }

  .top {
    @media (min-width: 640px) {
      margin: -0.9375rem 0 0 1.25rem;
    }
    margin-top: -0.9375rem;
  }

  .bottom {
    @media (min-width: 640px) {
      margin: -1rem 0 0 1.25rem;
    }
    margin-top: -1rem;
    display: flex;
    gap: 0.625rem;
  }
</style>
